$lightBorder: #dddddd;
$lightBackground: #e8e5da;
$hoverColor: #959595;
$lighterHoverColor: #dedede;
$strongThemeColor: #304c89;
$notSoStrongThemeColor: #648de5;
$alternativeThemeColor: #4D4C7D;
$lightTextColor: #F2EBE9;
$lightAlternativeColor: #A5BECC;
$black: #000000;
$white: white;